---
import Head from "@components/Astro/Head.astro";
---

<html lang="en">
	<Head />
	<body class="bg-dt-black text-blue-gray-400 m-0 scrollbar-hide w-screen h-screen flex flex-col items-center">
		<slot />
	</body>
</html>