@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-tap-highlight-color: transparent;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
