---
import Head from "@components/Astro/Head.astro";
import App from "@components/React/App.tsx";

import "@styles/global.css";
---

<html lang="en">
	<Head />
	<body class="bg-neutral-900 text-blue-gray-400 m-0 scrollbar-hide">
		<App client:only="react" />
	</body>
</html>
