---
import App from "@components/App.jsx";
import Navbar from "@components/Navbar.jsx";
import Main from "@components/Main.jsx";

import "@styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rohit Kisto</title>
		<body class="bg-neutral-900 text-gray-400 m-1">
			<App client:only="react"/>
		</body>
	</head>
	
</html>
