<head>
  <title>Rohit Kisto's Portfolio</title>
  <meta charset="utf-8" />
  <meta name="description" content="Rohit Kisto's portfolio" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
</head>